[submodule "2025 YISF/MISC/제임스의 유럽 여행"]
	path = 2025 YISF/MISC/제임스의 유럽 여행
	url = https://github.com/found-cake/misc-protocolbuf.git
[submodule "2025 YISF/web/SessionRecipe"]
	path = 2025 YISF/web/SessionRecipe
	url = https://github.com/found-cake/lolctf.git
[submodule "2025 SecurityFirst 연말/MISC/Minecraft"]
	path = 2025 SecurityFirst 연말/MISC/Minecraft
	url = https://github.com/found-cake/diafall.git
[submodule "2025 SecurityFirst 연말/MISC/Don’t Share Flag"]
	path = 2025 SecurityFirst 연말/MISC/Don’t Share Flag
	url = https://github.com/found-cake/misc-protobuf-zstd.git
[submodule "2025 SecurityFirst 연말/WEB/Preview Bot"]
	path = 2025 SecurityFirst 연말/WEB/Preview Bot
	url = https://github.com/found-cake/botsetting.git
[submodule "2026 SecurityFirst 연초/MISC/DifferentReadingMethods"]
	path = 2026 SecurityFirst 연초/MISC/DifferentReadingMethods
	url = https://github.com/found-cake/CrossandDownReading.git
