[submodule "2025 YISF/MISC/제임스의 유럽 여행"]
	path = 2025 YISF/MISC/제임스의 유럽 여행
	url = https://github.com/found-cake/misc-protocolbuf.git
[submodule "2025 YISF/web/SessionRecipe"]
	path = 2025 YISF/web/SessionRecipe
	url = https://github.com/found-cake/lolctf.git
[submodule "2025 SecurityFirst 연말/MISC/Minecraft"]
	path = 2025 SecurityFirst 연말/MISC/Minecraft
	url = https://github.com/found-cake/diafall.git
[submodule "2025 SecurityFirst 연말/MISC/Don’t Share Flag"]
	path = 2025 SecurityFirst 연말/MISC/Don’t Share Flag
	url = https://github.com/found-cake/misc-protobuf-zstd.git
[submodule "2025 SecurityFirst 연말/WEB/Preview Bot"]
	path = 2025 SecurityFirst 연말/WEB/Preview Bot
	url = https://github.com/found-cake/botsetting.git
[submodule "2026 SecurityFirst 연초/MISC/GhostHunter"]
	path = 2026 SecurityFirst 연초/MISC/GhostHunter
	url = https://github.com/found-cake/GhostHunter.git
[submodule "2026 SecurityFirst 연초/MISC/DifferentReadingMethods"]
	path = 2026 SecurityFirst 연초/MISC/DifferentReadingMethods
	url = https://github.com/found-cake/CrossandDownReading.git
[submodule "2026 SecurityFirst 연초/WEB/;==;"]
	path = "2026 SecurityFirst 연초/WEB/;==;"
	url = https://github.com/found-cake/php-equals.git
[submodule "2026 SecurityFirst 연초/WEB/HelloGopher"]
	path = 2026 SecurityFirst 연초/WEB/HelloGopher
	url = https://github.com/found-cake/hellogopher.git
[submodule "2026 SecurityFirst 연초/WEB/AdminPortal"]
	path = 2026 SecurityFirst 연초/WEB/AdminPortal
	url = https://github.com/found-cake/ctf-AdminPanel.git
[submodule "2026 CSKWS/MISC/Echoes of the Abyss/DeepDarkBoss"]
	path = 2026 CSKWS/MISC/Echoes of the Abyss/DeepDarkBoss
	url = https://github.com/found-cake/DeepDarkBoss.git
[submodule "2026 CSKWS/MISC/Echoes of the Abyss/SuperLegendPunch"]
	path = 2026 CSKWS/MISC/Echoes of the Abyss/SuperLegendPunch
	url = https://github.com/found-cake/SuperLegendPunch.git
